# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Logs ===
logs
*.log

# === Entorno ===
.env
.env.* 
!.env.example

# === Build / Coverage ===
dist/
coverage/
*.tsbuildinfo

# === MongoDB ===
*.lock
dump/

# === SO ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/
*.swp
